@import "tailwindcss";
@import "@heroui/styles"; 



.gradient-primary {
  background: linear-gradient(90deg, #ef4444, #f87171);
}
.text-primary {
  background: linear-gradient(90deg, #ef4444, #f87171);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
